# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
./vscode
.vscode/settings.json
app/.idea/.gitignore
app/.idea/gradle.xml
app/.idea/misc.xml
.DS_Store
app/bin